{% extends 'core/base.html' %}
{% load static %}
{% block title %}Email{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Email</h3>
                    {{ form.as_p }}
                    <p><input type="submit" class="btn btn-primary btn-block" value="Actualizar"></p>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
